/* Cleanup visual */
.w-webflow-badge {
   display: none !important;
   visibility: hidden !important;
}

/* ----- Make navbar sticky to keep options through page ----- */

/* Style the navbar */
#navbar {
   overflow: hidden;
}
 
/* Navbar links */
#navbar a {
   float: left;
   display: block;
   text-align: center;
   text-decoration: none;
}
 
/* Page content */
.content {
   padding: 16px;
}
 
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
   position: fixed;
   top: 100;
   width: 100%;
}
 
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
   padding-top: 60px;
}

/* ----- Set padding on navbar to prevent overlap ----- */

/* Default padding for larger screens */
.responsive-padding {
   padding-top: 30px;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
   .responsive-padding {
         padding: 30px;
   }
}


/* ----- Manage navbar burger-fication ----- */

/* Display burger and hide nav items upon screen shrink */
@media only screen and (min-width: 992px) {
   /* show all the nav-buttons */
   .navbutton {
     display: block;
   }
 }

/* Display nav items and show burger upon screen expand */
@media only screen and (max-width: 992px) {
   /* hide all the nav-buttons */
   .navbutton {
      display: none;
   }
}

/* Style for the button when it is clicked and has the 'w--open' class */
.menu-button.w-nav-button.w--open {
   border-radius: 10px; /* Adjust the radius as needed */
   /* Add any additional styling changes for the clicked state here */
}



